body{
    box-sizing: border-box;
    background-color:  #FCF6F5;
}


.navbar{
    background-color: rgba(248, 248, 242, 0.785);
}
.navbar-brand{
    
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}
.d-flex{
    margin-left: 240px;
}
.iconus{
    margin-left: 40px;
}

.carousel-caption{
    margin-bottom: 215px;
    margin-right: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-nav{
    margin-left: 319px;
}
.nav-item{
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
      
}
.card{
    height: 370px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #dfe1e8;
}

.prdetail{
    display: flex;
    align-items: row;
    justify-content: space-between;
}
.col-8 {
    border: 1px solid black;
    height: 350px;
    width: 98%;
    background-image: url('images/men-2.jpg');
    background-size: cover;
}
.dtl{
    color: #FCF6F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 8px;
    text-align: center;
    margin-right: 20px;
    letter-spacing: 4px;
    margin-top: 14px;
    
}
.brand{
    border: 2px solid black;
    height: 155px;
    width: 98%;
    background-color:blanchedalmond;
    color: azure;
    cursor: pointer;
}
.footer{
    background-color: #F9E795;
    color: black;
    height: 320px;
    width: 99%;

}
.cmn{
    margin-left: 24px;
}
.cmpn{
    font-family: "Lobster", sans-serif;
}
.help li{
    font-weight: bold;
}
.legal li{
    font-weight: bold;
}
.icon{
    margin-left: 10px;
}